# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Docker
*.log
*.pid
*.seed
*.pid.lock
docker-compose.override.yml

# Python environments
.Python
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.backup
terraform.tfvars
override.tf
override.tf.json
*.tfplan

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
